//Glowne kolory strony:

$blackColor:#000000; //nawigacja
$whiteColor:#FFFFFF;  //kolor tła ekranów
$orangeColor:#f79e38; // kolor strony
$darkblueColor:#0d4c7f; // kolor strony
$blueColor:#3a9fb8; // kolor strony

//Kolory pomocnicze
$buttonsColor:#FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$infoColor:#3498DB;  //kolor wiadomości typu info,
$errorColor: red;  //kolor wiadomości typu warning
$successColor:lightgreen;  //kolor wiadomości typu success
$rowsColors:lightgrey;  //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

